@if (Hero is not null) {
    <table>
        <tr>
            <td rowspan="2">
                <ActionColorDisplay IsEnemy="false" Color="@Hero.ActionColor" />
            </td>
            <td>
                @Hero.HeroClass.ToString()
            </td>
        </tr>
        <tr>
            <td>
                Unspent Stamina: @Hero.Stamina
            </td>
            <td>
                Spent Stamina: @Hero.SpentStamina
            </td>
            <td>
                Damage: @Hero.Damage
            </td>
        </tr>
    </table>
}
@code {
    [Parameter]
    public Models.Hero? Hero { get; set; }
}
